/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

/* Reset default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Actor", sans-serif; /* Set default font family */;
}